// ===== set defaults for options
params.library     = 'assets/NO_FILE'
params.study       = 'TCR'
params.outdir      = 'results'
params.get_ma_conf = false
params.trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')


// ===== Include configurations
includeConfig 'configs/modules.config'

// Code from nf-core template, make accessible Institution configs
// Load nf-core custom profiles from different Institutions
params.custom_config_version = 'master'
params.custom_config_base    = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// ===== Set registry for containers
docker.registry      = 'quay.io'
singularity.registry = 'quay.io'


// ===== 
profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    test { includeConfig 'configs/test.config' }
}


// ===== Enable report files
// Enable nextflow report files with timestamp in file name (nf-core code)
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
prov {
    enabled = true
    formats {
        bco {
            file = "${params.outdir}/pipeline_info/manifest_${params.trace_report_suffix}.bco.json"
        }
    }
}

manifest {
    name            = 'nf-mixcr'
    author          = """sguizard@ed.ac.uk""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Sébastien Guizard',
            affiliation: 'The University of Edinburgh - The Roslin Institute',
            email: 'sguiwqrd@ed.ac.uk',
            github: '@sguizard',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0001-5116-4150'
        ]
    ]
    homePage        = 'https://github.com/sguizard/nf-mixcr'
    description     = """A nextflow pipeline for TCR repertoire building with MiXCR"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.3'
    doi             = '10.5281/zenodo.10678893'
}