includeConfig 'configs/modules.config'
includeConfig 'configs/mixcr_exportClones.config'
includeConfig 'configs/mixcr_exportQc_align.config'
includeConfig 'configs/mixcr_exportQc_chainUsage.config'
includeConfig 'configs/mixcr_exportQc_coverage.config'
includeConfig 'configs/mixcr_exportReports.config'

params.library = 'assets/NO_FILE'
params.study   = 'TCR'
params.outdir  = 'results'

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    test { includeConfig 'configs/test.config' }
}

// Code from nf-core template, make accessible Institution configs
// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Enable nextflow report files with timestamp in file name (nf-core code) 
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}_execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}_execution_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}_execution_trace.txt"
}

dag {
    enabled = false
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}_pipeline_dag.html"
}

