process {
    withName: MIXCR_ANALYZE {
        cpus = 8
        publishDir  = [ 
            path: "${params.outdir}/01_mixcr_analysis", 
            mode: 'copy'
        ]
        ext.args = {
            [
                '--species cat',
                '--rna',
                '--tag-pattern "^N{4:6}GCTCACCTTTTTCAGGTCCTC(R1:*)\\^N{4:6}GCAGTGGTATCAACGCAGAGT(UMI:TN{4}TN{4}TN{4}TCTTGGGG)(R2:*)"',
                '--rigid-left-alignment-boundary',
                '--floating-right-alignment-boundary J',
            ].join(' ').trim()
        }
    }
}