process {
    withName: MIXCR_ANALYZE {
        publishDir  = [ 
            path: "${params.outdir}/01_mixcr_analysis", 
            mode: 'copy'
        ]
    }

    withName: MIXCR_EXPORTCLONES {
        publishDir  = [ 
            path: "${params.outdir}/02_mixcr_exportClones", 
            mode: 'copy'
        ]
    }

    withName: MIXCR_EXPORTQC_ALIGN {
        publishDir  = [ 
            path: "${params.outdir}/03_mixcr_exportQc_align", 
            mode: 'copy'
        ]
    }

    withName: MIXCR_EXPORTQC_CHAINUSAGE {
        publishDir  = [ 
            path: "${params.outdir}/03_mixcr_exportQc_chainusage", 
            mode: 'copy'
        ]
    }

    withName: MIXCR_EXPORTQC_COVERAGE {
        publishDir  = [ 
            path: "${params.outdir}/03_mixcr_exportQc_coverage", 
            mode: 'copy'
        ]
    }

    withName: MIXCR_EXPORTREPORTS {
        publishDir  = [ 
            path: "${params.outdir}/04_mixcr_exportReports", 
            mode: 'copy'
        ]
    }
}