params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Parameters
    samplesheet = "https://raw.githubusercontent.com/sguizard/nf-mixcr/dev/test-datasets/samplesheet.csv"
    preset      = "generic-amplicon-with-umi"
    library     = "https://github.com/sguizard/nf-mixcr/raw/dev/test-datasets/imgt.202312-3.sv8.json.gz"
}

process {
    // Simulate an input custom config
    withName: MIXCR_ANALYZE {
        publishDir  = [ 
            path: '${params.outdir}/01_mixcr_analysis', 
            mode: 'copy'
        ]
        cpus = 8
        ext.args = {
            [
                '--species cat',
                '--rna',
                '--tag-pattern "^N{4:6}GCTCACCTTTTTCAGGTCCTC(R1:*)\\^N{4:6}GCAGTGGTATCAACGCAGAGT(UMI:TN{4}TN{4}TN{4}TCTTGGGG)(R2:*)"',
                '--rigid-left-alignment-boundary',
                '--floating-right-alignment-boundary J'
            ].join(' ').trim()
        }
    }
}